@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: lightgrey;
}

header {
  height: 220px;
  width: 100%;
  background-color: white;
}
header .list-inline {
  list-style: none;
}
header .list-inline li {
  display: inline-block;
}
