header {
  text-align: center;
  background-color: $colorHeaderFooter;
  img {
    margin: 30px;
  }
  li {
    display: inline-block;
    padding: 20px 15px;
    margin: 0px 5px;
    &.active {
      background-color: $colorActiveListItem;
    }
    &:hover {
      background-color: $colorActiveListItem;
    }
    a {
      color: $textColor;
      font-weight: 600;
    }
  }
}