main {
  background-color: lightgrey;
  .container {
    width: 80%;
    h2 {
      text-transform: uppercase;
    }
    .cards_rule {
      display: flex;
      flex-wrap: wrap;
      .card {
        width: calc(100% / 3 - 10px);
        margin: 5px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}